In [11]:
import pandas as pd

In [41]:
a = pd.read_csv("1 1000.csv")
a = a.drop(columns = {"Region 2181"})
b = pd.read_csv("1000 2000.csv")
c = pd.read_csv("2000 3000.csv")
d = pd.read_csv("3000 3916.csv")
m1 = a.merge(c)
m1 = m1.merge(d)
m1 = m1.drop(columns={"Unnamed: 0"})
m1.set_index("Month", inplace=True)
m1.to_csv("fn2.csv")
m1.iloc[:, 3914:]

          Region 3915
Month
Month 73     0.550931
Month 74     0.594075
Month 75     0.650249
Month 76     0.657117
Month 77     0.656111
Month 78     0.636025
Month 79     0.619850
Month 80     0.622367
Month 81     0.629243
Month 82     0.624204
Month 83     0.613414
Month 84     0.611207
Month 85     0.616727
Month 86     0.618291
Month 87     0.613031